<!DOCTYPE html>
<html ng-app="mgcrea.ngStrapDocs">

  <head>
    <meta charset="utf-8" />
    <title>RefSCript Demo</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/editor.css">

    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.min.css">
    <link rel="stylesheet" href="bower_components/acute-select/acute/acute.select/acute.select.css">
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css">

    <!--Angular-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    
    <!--Angular Strap-->
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    
    <!--Ace-->
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script> 

    <!--Bootstrap-->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    
    <!--Acute select: http://john-oc.github.io/ -->
    <script type="text/javascript" src="bower_components/acute-select/acute/acute.select/acute.select.js"></script>
    
    <script src="app.js"></script>

  </head>

  <body ng-controller="MainCtrl">

    <div class="bs-docs-section" ng-controller="NavbarDemoCtrl">
      <div class="page-header">
        <h1 id="navbars">RefScript <a class="small" href="https://github.com/UCSD-PL/RefScript" target="_blank">github</a></h1>
      </div>

      <!--<p>Add quick, dynamic navbar functionality to transition through active/inactive states.</p>-->

      <a class="small edit-plunkr"
                       data-module-name="mgcrea.ngStrapDocs"
                       data-content-html-url="navbar/docs/navbar.demo.html"
                       data-content-js-url="navbar/docs/navbar.demo.js"
                       ng-plunkr data-title="edit in plunker"
                                 data-placement="right" bs-tooltip></a></h3>

      <!--<pre class="bs-example-scope">$location.path() = "{{$location.path()}}";</pre>-->
      <div class="bs-example" append-source>
        <nav class="navbar navbar-default" role="navigation" bs-navbar>
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
          </div>
          <ul class="nav navbar-nav">
            <li data-match-route="/$"><a href="#/">Home</a></li>
            <li data-match-route="/page-one"><a href="#/page-one">Page One</a></li>
            <li data-match-route="/page-two.*"><a href="#/page-two/sub-a">Page Two</a></li>
          </ul>
        </nav>
      </div>



      <!--!-->
      <!--Drop down example controller-->
      <!--!-->


      <div class="bs-docs-section" ng-controller="DropdownDemoCtrl">

        <div class="bs-example" style="padding-bottom: 24px;" append-source>

          <select class="ac-select testList" 
                  ac-model="selectedTest" 
                  ac-options="s.name for s in getAllTests()" 
                  ac-settings="{ loadOnOpen: true, minWidth: '300px' }" 
                  ac-change="testSelected(value)"></select>

        </div>

      </div>


      <!--!-->
      <!--The editor-->
      <!--!-->

      <div ui-ace="{
      mode: 'typescript',
      onLoad: aceLoaded,
      onChange: aceChanged
      }"></div>


      <!--!-->
      <!--Testing-->
      <!--!-->

      <div ng-controller="AlertDemoCtrl">
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          <button class='btn btn-default' ng-click="listFiles()">List files</button>
          <button class='btn btn-default' ng-click="postTest()">Post files</button>
          <button class='btn btn-default' ng-click="printTest()">Print text</button>
      </div>

    </div>

  </body>

</html>
